<% content_for(:html_title) { 'ご意見板 | 即ボコ女子松戸店' } %>

<h1>ご意見・ご質問掲示板</h1>


<div class="container">
  
  <div class="row my-5">
    <% @opinions.each do | opinion | %>
      <%= opinion.id.to_s + ":" %><br>&nbsp;
      <%= opinion.opinion %><br>
    <% end %>
  </div>
</div>
