<% content_for(:html_title) { 'ご意見・質問フォーム | 即ボコ女子松戸店' } %>

<h1>ご意見・質問フォーム </h1>

<div class="container">
  <div class="row">
    <%= form_with(model: @opinions, local: true) do |f| %>
      <%= "ご意見とご質問：" %><%= f.text_area :opinion ,{value: 'text',size:"60x8"} %>
      <%= f.submit "送信" %>
    <% end %>
 </div>
</div>