<div class="row">
  <div class="col-md-12 px-0">
    <h1>&nbsp;特定商取引法に基づく表記</h1>
  </div>
</div>

<div class="container">
  <table class="table is-fullwidth">
    <tbody>
      <tr>
        <th>サービスの内容</th>
        <td>性的嗜好が合う者同士のマッチング</td>
      </tr>
      <tr>
        <th>サービスの対価</th>
        <td>紹介手数料</td>
      </tr>
      <tr>
        <th>サービスの対価以外の必要料金</th>
        <td>遠方の場合の運転手数料</td>
      </tr>
      <tr>
        <th>サービスの対価の支払い方法</th>
        <td>直接支払い</td>
      </tr>
      <tr>
        <th>サービスの対価の支払時期</th>
        <td>サービス購入者との取引成立時</td>
      </tr>
      <tr>
        <th>サービスの提供時期</th>
        <td>当該手続き完了後即時</td>
      </tr>
      <tr>
        <th>返金の取り扱い方法</th>
        <td>サービスの性質上不可</td>
      </tr>
      
      <tr>
        <th>サービス提供責任者</th>
        <td>林田 範夫</td>
      </tr>
      <tr>
        <th>サービス提供者の住所</th>
        <td>〒270-2225<br>千葉県松戸市秋山651-27</td>
      </tr>
      <tr>
        <th>問い合わせ窓口</th>
        <td>xr274375@fc5.so-net.ne.jp</td>
      </tr>
    </tbody>
  </table>
</div>