<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @performer.nickname %>さんへ。</h3>
    <p>書類審査を受け付けました。しばらくお待ちください。</p>
    <p>2～3日経っても返信が来ない場合は、お手数ですがご連絡ください。</p>
  </body>
</html>