<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @sender.nickname %>さんへ。</h3>
    <p>リクエストを送りました。50分で到着予定です。しばらくお待ちください。</p>
  </body>
</html>