<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @sender.nickname %>さんから<%= @receiver.nickname %>さんへのリクエストを受け付けました。</h3>
    <p><%= @home.delivery_time.to_s  + '分～' + (@home.delivery_time+10).to_s %>分程で到着する予定です。しばらくお待ちください。</p>
  </body>
</html>