<% content_for(:html_title) { 'リクエスト一覧 | 即ボコ女子松戸店' } %>

<h1>リクエスト一覧</h1>

<div class="container">
  
  <% @homes.each do | home | %>
    <div class="row my-5">
      <%= home.request %>
    </div>
  <% end %>
  </div>
</div>
