<div class="row">
  <div class="col-md-12 px-0">
    <h1>&nbsp;  プレイ内容</h1>
  </div>
</div>
  
<div class="container">
  <div class="row my-5">
    <div class="border border-danger inner">
      <p style="text-align:center;">当店は、女の子が男性に格闘技を仕掛けるサービスです。<br>
      格闘技は安全を考慮した上で行っております。
      女の子への反撃は禁止となります。<br>
      当店でお遊びいただいた段階で、<%= link_to "サービス利用規約",opinions_service_path %>に同意したものとみなします。<br>
      必ず<%= link_to "サービス利用規約",opinions_service_path %>にはお目通しください。</p> 
    </div>
  </div>

  
  
</div>