<% content_for(:html_title) { 'リクエスト一覧 | 即ボコ女子松戸店' } %>

<h1>リクエスト一覧</h1>

<div class="container">
  
  <%= "リクエスト：" %>
  <div class="row">
    <%= form_with(model: @request, local: true) do |f| %>
      <%= f.text_area :request ,{value: 'text',size:"60x8"} %>
      <%= f.submit "送信" %>
    <% end %>
  </div>
</div>
