<div class="row">
  <div class="col-md-12 px-0">
    <h1>&nbsp;  プレイ内容</h1>
  </div>
</div>
  
<div class="container">
  <div class="row my-5">
    <div class="border border-danger inner">
      <p style="text-align:center;">当店は、女の子が男性に格闘技を仕掛けるサービスです。<br>
      格闘技は安全を考慮した上で行っております。
      女の子への反撃は禁止となります。<br>
      当店でお遊びいただいた段階で、サービス利用規約に同意したものとみなします。<br>
      必ずサービス利用規約にはお目通しください。</p> 
    </div>
  </div>
  
  <div class="row my-5">
    <div class="border border-danger inner">
      <h4 style="text-align:center;">サービス利用規約<br></h4>
      <h5>■不適切な状況での利用</h5>
  <ol>
    <li>不潔な部屋で、女の子がサービスを行うのに不適切な場合。（サービス利用の性質上と濃密な時間の為、サービスの前に必ずシャワーとうがいを行って下さい）</li>
    <li>お客様が不潔であり、女の子の衛生上好ましくない方の利用。</li>
    <li>プレイされるお部屋にお客様の以外の第三者がいた場合。</li>
    <li>暴力団関係者、又は、それに準ずる方。</li>
    <li>薬物を使用されている方。</li>
  </ol>
  
  <h4>第2条（利用登録）</h4>
  <ol>
    <li>本サービスにおいては，登録希望者が本規約に同意の上，当社の定める方法によって利用登録を申請し，当社がこの承認を登録希望者に通知することによって，利用登録が完了するものとします。</li>
    <li>当社は，利用登録の申請者に以下の事由があると判断した場合，利用登録の申請を承認しないことがあり，その理由については一切の開示義務を負わないものとします。
  <ol>
    <li>利用登録の申請に際して虚偽の事項を届け出た場合</li>
    <li>本規約に違反したことがある者からの申請である場合</li>
    <li>その他，当社が利用登録を相当でないと判断した場合</li>
    </ol></li>
  </ol>
  
  <h4>第3条（ユーザーIDおよびパスワードの管理）</h4>
  <ol>
    <li>ユーザーは，自己の責任において，本サービスのユーザーIDおよびパスワードを適切に管理するものとします。</li>
    <li>ユーザーは，いかなる場合にも，ユーザーIDおよびパスワードを第三者に譲渡または貸与し，もしくは第三者と共用することはできません。当社は，ユーザーIDとパスワードの組み合わせが登録情報と一致してログインされた場合には，そのユーザーIDを登録しているユーザー自身による利用とみなします。</li>
    <li>ユーザーID及びパスワードが第三者によって使用されたことによって生じた損害は，当社に故意又は重大な過失がある場合を除き，当社は一切の責任を負わないものとします。</li>
  </ol>
  
    </div>
  </div>
</div>