<% content_for(:html_title) { 'サービスの利用規約について' } %>

<h1>サービス利用規約<</h1>

<div class="container">
  <div class="row my-5">
    <div class="border border-danger inner">
      <h4 class="center">サービス利用規約<br></h4>
      <h5>　以下の不適切な環境や状況下での利用を禁止します。</h5>
        <ol>
          <li>お客様が不潔であり、<strong>女の子</strong>の衛生上好ましくない方の利用。</li>
          <li>不潔な部屋で、女の子がサービスを行うのに不適切な場合。（サービスの前に必ずシャワーとうがいを行って下さい）</li>
          <li>プレイされるお部屋にお客様の以外の第三者がいた場合。</li>
          <li>暴力団関係者、又は、それに準ずる方。</li>
          <li>薬物を使用されている方。</li>
          <li>性病・伝染病に感染している方。</li>
          <li>当店を通さずに会おうとした、又、は会った方。</li>
          <li>性病・伝染病に感染している方。</li>
          <li>悪質な予約のキャンセル行為があった方。</li>
          <li>同業関係者の方。</li>
          <li>本番要求またはそれに付帯する行為。(女の子から誘いがあった場合は応じずに当店まで連絡下さい。)</li>
          <li>サービスメニューにない過剰なサービスの要求。</li>
          <li>盗聴盗撮行為。(発見した場合、犯罪行為として所轄警察署に通報させて頂きます。)</li>
          <li>当店を出発してからのキャンセルについては承り出来ませんのでご了承ください。（当日代金を全額回収させて頂くか、後日当店指定の銀行口座にお振り込みお願い致します）。</li>
          <li>当店の女の子に対するスカウト等の引き抜き行為。(損害金が発生します。)</li>
          <li>その他、当店がふさわしくないと判断させて頂いた方。</li>
          <li>上記禁止事項に該当する点があり、即ボコ女子の会員様として相応しくないと判断いたしました場合には即刻サービスを中止し、女の子は退出いたします。
              なお、その際の料金返金には応じられません。さらに、その後の当店利用を一切遠慮頂くと共に、会員登録の自動削除をさせていただきます。
              また、当店が必要と判断した場合には罰金及び損害賠償として金百万円をご請求いたしますと共に、所轄警察署まで同行いただくことになります。</li>
        </ol>
    </div>
  </div>
</div>