<div class="row">
  <div class="col-md-12 px-0">
    <h1>&nbsp;  SYSTEM</h1>
  </div>
</div>
  
<div class="container">
  <div class="row my-5　border border-primary">
    <table class="table">
      <tr><td><%= "利用料金：40分16000円" %></td></tr>
      <tr><td><%= "その他料金：交通費・指名料・制服オプション・入会費はすべて無料" %></td></tr>
      <tr><td><%= "利用エリア：松戸市、市川市、葛飾区" %></td></tr>
      <tr><td><%= "可能施設：自宅〇　ホテル〇" %></td></tr>
    </table>
  </div>
</div>