<% content_for(:html_title) { '在籍中の女子を紹介' } %>

<h1>在籍女子</h1>

<div class="container">
  
  <div class="row my-5"><!-- 縦のマージンが0～5の内の5(要素の基本サイズ*3) -->
    <!-- 例外が起きた場合は何もしない-->
    <% begin %>
    
      <!-- 店から許可を受けた女子達のサムネイル画像を表示 -->
      <% @performers.each do | performer | %>
      
      　<% if '入店' == performer.progress %>
          <div class="col-sm-auto">
            <%= display_thumbnail(performer) %>
            <div class="col-sm-auto text-center">
              <% if performer.user.nickname? %>
                <span class="small">
                  <%= performer.user.nickname + " (#{performer.age.to_s})" %><br>
                  <%= "B-W-H: " + performer.three_size %><br>
                  <%= "本日 " + today_schedule(performer) %>
                </span>
              <% end %>
            </div>
          </div>
        <% end %>
        
      <% end %>
      
    <% rescue => e %>
    <% end %>
  </div>
  
</div>