<div class="row">
  <div class="col-md-12 px-0">
    <h1>&nbsp;出勤スケジュール</h1>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <% if @performer.image? %>
      <%= image_tag @performer.image.url, class: 'thumbnail'  %>
    <% end %>
  </div>
  
  <div class="row my-5">
    <% if '審査中' == @performer.progress %>
      <%= @performer.nickname+"さん書類審査中" %>
    <% else %>
      <button type="button">
        <%= link_to "書類審査申請", new_performer_path %>
      </button>
    <% end %>
  </div>
</div>
