<div class="row">
  <div class="col-md-12 px-0">
    <h1>&nbsp;出勤情報</h1>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <% if @perfomer.image? %>
      <%= image_tag @perfomer.image.url, class: 'thumbnail'  %>
    <% end %>
  </div>
  
  <div class="row my-5">
    <button type="button">
        <%= link_to "面接無し書類のみで登録", new_performer_path %>
    </button>
  </div>
</div>
